@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #333;
    font-family: Arial, sans-serif;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.informacoes-container{
    background-color: #080808;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: min(520px, 520px);
    min-height: 300px;
}

div.formulario-container {
    background-color: #080808;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: min(100% - 32px, 520px);
    min-height: 150px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.botao-confirmar {
    margin-top: 40px;
    margin-left: 165px;
}

input[type="file"] {
    display: none;
}

.botao-customizado {
  padding: 4px 10px;
  background-color: #454546;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

option{
    text-align: center;
}

div.perfil-container {
    background-color: #080808;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: min(100% - 32px, 520px);
    min-height: 350px;
}

p.perfil-imagem{
    margin-left: 320px;
    margin-top: -100px;
}

.botao-customizadov2, a {
  padding: 4px 10px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.grupo-botao {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 5px;
    margin-bottom: -20px;
}